footer {
  position: sticky;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

footer a {
  color: #fbf5f3;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  footer a {
    text-align: center;
  }
}
