@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mogra&family=Quicksand:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1d21;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  width: 60vw;
}

.name,
.job {
  color: #f1e3e4;
  font-size: 2rem;
  letter-spacing: 0.4em;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.stacks {
  color: #f1e3e4;
  font-size: 1.8rem;
  float: left;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5);
}

.job {
  float: right;
}

.typed {
  color: #e28413;
}

.contact {
  margin-top: 50px;
  color: #f1e3e4;
  background-color: #1c1d21;
  width: 40vw;
  float: left;
}

.contact img {
  width: 100px;
  margin: 20px;
}

.contact a {
  color: #f1e3e4;
  text-decoration: none;
  text-align: end;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #f1e3e4;
  position: fixed;
  bottom: 0;
  width: 50%;
  height: 30px;
}

footer a {
  text-decoration: none;
  color: #f1e3e4;
}

@media screen and (max-width: 320px) {
  .name,
  .job {
    font-size: 0.7rem;
    letter-spacing: 0.4em;
  }

  .stacks {
    font-size: 0.5rem;
  }

  .contact {
    display: flex;
    flex-direction: row;
  }

  .contact img {
    display: flex;
    flex-direction: row;
    width: 25px;
    margin: 10px;
  }

  footer {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 425px) {
  .name,
  .job {
    font-size: 1rem;
    letter-spacing: 0.4em;
  }

  .stacks {
    font-size: 1rem;
  }

  .contact {
    display: flex;
  }

  .contact img {
    display: flex;
    flex-direction: row;
    width: 40px;
    margin: 15px;
  }

  footer {
    font-size: 0.7rem;
  }
}
